/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/*Cabeçalho padrão*/
    header {
        height: 80px;
        display: flex;
        flex-flow: column nowrap;
    }

    #header-div {
        background-color: #008080;
        height: 60px;
        padding: 10px;
        box-shadow: -1px 2px rgba(19, 18, 18, 0.37);
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        background-color: #F5F5F5;
        height: 75px;
    }
    