/* You can add global styles to this file, and also import other style files */
@keyframes pulse-ring {
    0% {
        transform: scale(0.33);
        opacity: 1;
    }
    100% {
        transform: scale(1.5); /* Tamanho máximo da "ondinha" */
        opacity: 0;
    }
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.pulsing-badge-container {
    position: relative !important; /* Essencial para posicionar o anel */
    z-index: 0 !important; /* Garante que o ícone e o badge fiquem por cima */
}

.pulsing-badge-container::before {
    content: '';
    position: absolute;
    top: -60%;
    left: 1%;
    transform: translate(-50%, -50%);

    width: 45px;
    height: 40px;
    border-radius: 50%;

    background: #f44336;

    animation: pulse-ring 2s cubic-bezier(0.24, 0, 0.38, 1) infinite;
    z-index: -1;
}

/*Cabeçalho padrão*/
    header {
        height: 80px;
        display: flex;
        flex-flow: column nowrap;
    }

    #header-div {
        background-color: #008080;
        height: 60px;
        padding: 10px;
        box-shadow: -1px 2px rgba(19, 18, 18, 0.37);
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        background-color: #F5F5F5;
        height: 75px;
    }
    