<header>
    <div id="header-div">
        <div class="container-cascate">
            <div>
                <img src="MC-cost1.jpg" alt="">
            </div>
            <ul class="container-cascate">
                <li><a href="">modulo 1</a></li>
                <li><a href="">modulo 1</a></li>
                <li><a href="">modulo 1</a></li>
                <li><a href="">modulo 1</a></li>
                <li><a href="">modulo 1</a></li>
            </ul>
        </div>
        <div id="conteiner-reverserow">
            <div>
                <img src="null-perfil.jpg" alt="" id="perfil-img" (click)="openDialog()">
            </div>
            <div>
                sino
            </div>
            <div>
                dúvidas
            </div>
        </div>
    </div>
    <nav>
        Atalhos
    </nav>
</header>
<main></main>
<footer></footer>