/* header */
    /* header1 */
        .container-cascate {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            margin: 0 5px;
            padding: 0;
        }

        .container-cascate  li {
            margin-inline: 5px;
        }

        .container-cascate a {
            display: block;
            padding: 5px 10px;
            transition: background-color 0.3s;
        }
        
        .container-cascate li:hover a {
            background-color: #ffffff33;
            border-radius: 4px;
        }

        #conteiner-reverserow {
            display: flex;
            flex-flow: row-reverse nowrap;
            align-items: center;
            gap: 15px;
        }

        #conteiner-reverserow > div {
            margin-inline: 5px;
        }

        img {
            height: 65px;
            width: 70px;
            border-radius: 50%;
            border: 3px double #FFFF;
            margin-top: 5px;
        }

        #perfil-img {
            height: 45px;
            width: 55px;
            border-radius: 50%;
            border: 3px double #FFFF;
            cursor: pointer;
        }
    
    /* header2-nav */
