body {
    display: flex;
    flex-flow: column nowrap;
    background-color: #F5F5F5;
}

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.404);
}

main {
    background-color: #FFF;
    margin-inline: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-flow: row nowrap;
    flex: 0.9;
}

footer {
    display: flex;
    flex-flow: row-reverse nowrap;
    margin-inline: 5px;
}

.custom-red-button {
  background-color: #f44336 !important;
  color: white !important; 
}